<div class="col-lg-6" style="width: 100%;">
    <div class="panel panel-default">
      <div class="panel-heading">
          <!-- Pill Tabs -->
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body" id="collection">
        <h1 class="btn btn-outline btn-primary" style="margin-right: 500px;font-size: 20px">Collection Entry</h1>
        <br><br>
          <%= bootstrap_form_for @collection, layout: :inline do |form| %>
            <%#= form.text_field :cl_date, label: "Date", placeholder: Time.now.strftime("%d-%m-%Y") %>
            <%= form.collection_select :location, @locations, :loc_name, :loc_name, prompt: "Please Select Location"  %>
            <%= form.collection_select :name, @families, :fam_name, :fam_name, prompt: "Please Select Family" %>
            <%= form.text_field :amount, placeholder: "Enter the Amount" %>
            <%= form.select :collection_type, @collection_type, prompt: "Please Select" %>
            <%= form.submit %>
          <% end %>
          <%= link_to 'Back', collections_path, class:"btn btn-outline btn-primary" %>
        </div>
      </div><!-- /.panel-body -->
    </div><!-- /.panel -->
</div><!-- /.col-lg-6 -->
  
       
