<p id="notice"><%= notice %></p>
<span class="col-lg-6" style="width: 30%";><img src="<%= image_path('bg-img/logo.jpg')%>" width="200" alt=""></span>
<span class="navbar-brand">
  <p style="color: #30166b;font-size: 29px";>ஸ்ரீ வீரமாத்தி அம்மன் திருகோவில்</p>
  <p style="color: #30166b;font-size: 29px";>51, வேலம் பாளையம் கிராமம்</p>
  <p style="color: #30166b;font-size: 29px";>சேடர் பாளையம், ஈரோடு</p>
</span>  
<span class="col-lg-6" style="width: 17%;float:right;"><img src="<%= image_path('bg-img/logo.jpg')%>" width="200" alt=""></span>
<div class="col-lg-6" style="width: 100%;">
      <div class="panel panel-default">
        <div class="panel-heading">
        <span>Dashboard</span>
            <!-- Pill Tabs -->
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <!-- Nav tabs -->
            <p>
            <h1 class="btn btn-outline btn-primary" style="/*margin-left: 25px;*/font-size: 20px">Collections - <%= @total_collections %></h1>
            <h1 class="btn btn-outline btn-info" style="/*margin-left: 75px;*/font-size: 20px">Donations - <%= @total_donations %></h1>
            <h1 class="btn btn-outline btn-danger" style="/*margin-left: 60px;*/font-size: 20px">Expenses - <%= @total_expenses + @total_const_expenses %></h1>
            <h1 class="btn btn-outline btn-success" style="/*margin-left: 90px;*/font-size: 20px">At Hand(Balance) : <%= (@total_collections + @total_donations) - (@total_expenses + @total_const_expenses)  %></h1>
            </p>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active table-responsive" id="home-pills">
                    <!-- <h4>Home Tab</h4> -->
                    <p>
                      
                      <h1 class="btn btn-outline btn-primary" style="/*margin-left: 500px;*/font-size: 20px">Locations & Family</h1>

                        <table  class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th>Location</th>
                              <th>Name</th>
                              <th colspan="3"></th>
                            </tr>
                          </thead>

                          <tbody>
                            <%# @invens.each do |inven| %>
                              <tr>
                                <td><%#= inven.location %></td>
                                <td><%#= inven.name %></td>
                                <td><%#= link_to 'Show', inven %></td>
                                <td><%#= link_to 'Edit', edit_inven_path(inven) %></td>
                                <td><%#= link_to 'Destroy', inven, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                               </tr>
                            <%# end %>
                              
                            <% @families.each do |f| %>
                              <tr>
                              <td><%= Location.find(f.location_id).loc_name %></td>
                              <td><%= f.fam_name %></td> 
                              </tr>
                              <% end %>
                          </tbody>
                        </table>

                        <br>
                        <div class="btn btn-outline btn-success" style="/*margin-right: 400px;*/">Total Locations: <%= @location_count %><br>
                        Total Family: <%= @family_count %></div><br><br>

                                            <h1 class="btn btn-outline btn-primary" style="/*margin-left: 500px;*/font-size: 20px">Balance Sheet</h1>
                                            <h1 class="btn btn-outline btn-info" style="/*margin-left: 400px;*/font-size: 15px">Fixed Amount : Rs. 15000</h1>
                                    <table id="iottt" class="display table" cellspacing="0" width="95%">
                                      <thead>
                                        <tr>
                                          <th>Name</th>
                                          <th>Collected Amount</th>
                                          <th>Balance Amount</th>
                                          <th colspan="3"></th>
                                        </tr>
                                      </thead>

                                      <tbody>
                                        <% @total.each do |t| %>
                                          <tr>
                                            <td><%= t[0] %></td>
                                            <td><%= number_with_precision(t[1], precision: 2) %></td>
                                            <td><%= number_with_precision((15000 - t[1]), precision: 2) %></td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>

                                    <br>
                                      </p>
                                  </div>

                                  <h1 class="btn btn-outline btn-success" style="/*margin-left: 500px;*/font-size: 20px">Balance Sheet by Location</h1>

                        <table  class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th>Location</th>
                              <th>Collected Amount</th>
                              <th>Balance Amount</th>
                              <th colspan="3"></th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @total_by_location.each do |t| %>
                              <tr>
                                <td><%= t[0] %></td>
                                <td><%= number_with_precision(t[1], precision: 2) %></td>
                                <td><%= number_with_precision((1500000 - t[1]), precision: 2) %></td>
                                </tr>
                            <% end %>
                          </tbody>
                        </table>

                          <h1 class="btn btn-outline btn-info" style="/*margin-left: 500px;*/font-size: 20px">Donations</h1>
                          <table class="display table" cellspacing="0" width="95%">
                          <thead class="thead-dark">
                            <tr>
                              <th>Donations From</th>
                              <th>Collected Amount</th>
                              <!--<th>Balance Amount</th> -->
                              <th colspan="3"></th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @donations.each do |t, d| %>
                              <tr>
                              <% if t[0] == '2' %>
                                <td><%= t[1] %></td>
                                <td><%= number_with_precision(d, precision: 2) %></td>
                                <td><%#= number_with_precision((1500000 - t[1]), precision: 2) %></td>
                                <% end %>
                                </tr>
                            <% end %>
                          </tbody>
                        </table>

                        <h1 class="btn btn-outline btn-danger" style="/*margin-left: 500px;*/font-size: 20px">Expenses</h1>
                          <table class="display table" cellspacing="0" width="95%">
                          <thead class="thead-dark">
                            <tr>
                              <th>Expenses Type</th>
                              <th>Spent Amount</th>
                              <!--<th>Balance Amount</th> -->
                              <th colspan="3"></th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @expenses.each do |t| %>
                              <tr>
                              <% if t[0] == '1' %>
                                <td><%= "Vehicle Rent" %></td>
                              <% elsif t[0] == '2' %>
                                <td><%= "Vehicle Fuel" %></td>
                              <% elsif t[0] == '3' %>
                                <td><%= "Food" %></td>  
                              <% else %>  
                                <td><%= "Others" %></td>
                              <% end %>  
                                <td><%= number_with_precision(t[1], precision: 2) %></td>
                                <td><%#= number_with_precision((1500000 - t[1]), precision: 2) %></td>
                                </tr>
                            <% end %>
                          </tbody>
                        </table>

                        <h1 class="btn btn-outline btn-danger" style="/*margin-left: 500px;*/font-size: 20px">Constructional Expenses</h1>
                          <table class="display table" cellspacing="0" width="95%">
                          <thead class="thead-dark">
                            <tr>
                              <th>Expenses Owner</th>
                              <th>Spent Amount</th>
                              <!--<th>Balance Amount</th> -->
                              <th colspan="3"></th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @const_expenses.each do |t| %>
                              <tr>
                                <td><%= t[0] %></td>
                                <td><%= number_with_precision(t[1], precision: 2) %></td>
                                <td><%#= number_with_precision((1500000 - t[1]), precision: 2) %></td>
                                </tr>
                            <% end %>
                          </tbody>
                        </table>

                                
            </div>
        </div><!-- /.panel-body -->

        <div class="panel-footer">
          <%= link_to 'Back to Home', root_path, class: "btn btn-outline btn-info" %>
          <span class="pull-right">Copyrights Reserved@2021</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </div><!-- /.panel -->
  </div><!-- /.col-lg-6 -->

  <% content_for(:extra_scripts) do %>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#iottt').DataTable({ responsive: true, ordering: true });
        $('#iottt_1').DataTable({ responsive: true, ordering: true });
        $('#iottt_2').DataTable({ responsive: true, ordering: true });
    </script>
  <% end %>