<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @inven.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @inven.name %>
</p>

<%= link_to 'Edit', edit_inven_path(@inven) %> |
<%= link_to 'Back', invens_path %>
