<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @user.comments %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Misc:</strong>
  <%= @user.misc %>
</p>

<p>
  <strong>Preferences:</strong>
  <%= @user.preferences %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @user.terms %>
</p>

<p>
  <strong>Type:</strong>
  <%= @user.type %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
