<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testpage.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @testpage.place %>
</p>

<%= link_to 'Edit', edit_testpage_path(@testpage) %> |
<%= link_to 'Back', testpages_path %>
